/*  Fuentes de letras*/
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1614179924047-e1ab49a0a0cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z2FtaW5nJTIwc2V0dXB8ZW58MHx8MHx8&w=1000&q=80");
    /* background-repeat: no-repeat; */
    background-position: 0;
    background-size: cover;
    
}
body h1{
    font-size: 5em;
    text-align: center;
    transform: translateY(428px);
    font-style: italic;
}

.h1-text{
    color: yellow;
}

div {
    margin-left: 450px;
    margin-top: 220px;
    transform: translateY(-200px);
    text-shadow: 0 0 15px  white;
}

p:nth-last-child(2) {
    margin: 40px 0;
}

p {
    text-align: center;
    width: 600px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
}

#tiempo,
#fecha {
    text-align: center;

}
hr{
    border-color: #000;
    width: 600px;
}
#tiempo {
    font-size: 50px;
}

#fecha {
    font-size: 30px;
}

.saludo {
    font-size: 25px;
    font-style: italic;
}

blockquote {
    margin-left: 10px;
    transform: translateY(120px);
    font-size: 25px;
    color: #fff;
}

#formato {
    font-size: 1px;
}
/* Media Queries Dispositivos de ancho maximo 770px */
@media (max-width:770px) {
    body{
        background-repeat: no-repeat;
        background-size: 775px 1200px;
    }
    body h1{
        margin-left: 50px;
        font-size: 50px;
        transform: translateY(590px);
    }
    div{
        transform: translateX(-360px);
        margin-bottom:330px;
    }
    div p{
        font-size: 20px;
    }
    #tiempo,#fecha{
        font-size: 22px;
    }
    hr{
        width: 350px;
        margin-left: 120px;
    }
    blockquote {
        margin-bottom: 25px;
    }

}
/* Dispositivos moviles */
@media(max-width:420px) {

    body{
        background-color: black;
        background-repeat: no-repeat;
        background-position:-80px -90px;
        background-size: 700px 800px;

    }
    body h1{
    transform: translateY(430px);
    margin-left: 110px;
    font-size: 30px;
    }
    div {
        transform: translateY(-100px);
        margin-left: -30px;
    }
    #tiempo,#fecha{
        font-size: 20px;
    }
    hr{
        transform: translateX(40px);
        width: 300px;
    }

    div p{
        margin-top: 15px;
        font-size: 15px;
    }

    .saludo{
        font-size: 18px;
    }

    blockquote{
        transform: translateY(-80px);
    }


}
