@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YnJpY2tzJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-position: 250px -50px;
    width: auto;
    height: auto;
}

body h2 {
    color: white;
    font-size: 5em;
    text-align: center;
    font-style: italic;
}

.h1-text {
    color: yellow;
}

div {
    margin-top: 180px;
    width: 650px;
    margin-left: 450px;

}

p:nth-last-child(2) {
    margin: 40px 0;
}

p {
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
}

#tiempo,
#fecha {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    color: #fff;
}

#tiempo {
    padding-bottom: 40px;
    font-size: 120px;
    height: 200px;
}

.saludo {
    transform: translateY(-120px);
    font-size: 25px;
    font-style: italic;
    color: #fff;
}

blockquote {
    margin-left: 10px;
    font-size: 25px;
    color: white;
}

#formato {
    font-size: 1px;
}

/* Media queries */

@media (max-width:770px) {

    body {
        background-position: -150px -75px;
        background-size: cover;
    }

    body h2 {
        font-size: 50px;
    }

    div {

        margin-top: 100px;
        margin-left: 50px;

    }

    #tiempo,
    #fecha {}


    blockquote {
        margin-top: 100px;
    }

}

@media(max-width:420px) {

    body {
        background-size: cover;
        background-position: -5%;
    }

    body h2 {
        font-size: 30px;
    }

    div {
        width: 320px;
        margin-top: 100px;
        margin-left: 50px;
    }

    #tiempo {
        padding-top: 20px;
        font-size: 60px;
    }

    #fecha {
        font-size: 30px;
    }

    .saludo {
        margin-top: -20px;
    }

    blockquote {
        margin-left: 100px;
    }


}